@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "File upload";
}
<h2>Text File Upload</h2>
@using (Html.BeginForm("Index",
                        "FileUpload",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="file">File:</label>
    <input type="file" name="file" id="file" /><br><br>
    <input type="submit" value="Upload" />
    <br><br>
    @ViewBag.Message
}