@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mazowiecka 8<br />
    80-297 Banino<br />
    <abbr title="Phone">Phone:</abbr>
    +48 602 208 858
</address>

<address>
    <strong>Sławomir Kussowski:</strong>   <a href="mailto:slawomirkussowski@gmail.com">SlawomirKussowski@gmail.com</a><br />    
</address>